<configuration>
	<appSettings>
		<add key="TwilioAccountSid" value="AC233ec73ac68d08423081e55e1fd3ea88"/>
		<add key="TwilioAuthToken" value="a9b2d5219b43c3679ba83baea60d3449"/>
		<add key="TwilioPhoneNumber" value="+12563650969"/>
	</appSettings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.8" />
			</system.Web>
	-->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/></system.web></configuration>
